html
	head
		//link(href="https://fonts.googleapis.com/css?family=Lato", rel="stylesheet", type="text/css")
		title hello world
	body
		header
		sub-header

		section.pure-g

			side-panel.pure-u.pure-u-md-1-4.pure-u-lg-1-5.pure-u-xl-1-6



			main-panel.pure-u.pure-u-md-3-4.pure-u-lg-4-5.pure-u-xl-5-6

				section
					button.c-button Hello world
					button.c-button.m-secondary Hello world
					button.c-button.m-accent Hello world

				section
					.c-input
						input(type="text")
						label(data-content="Hello world")
							span.e-label-content Hello World
					.c-input.m-secondary
						input(type="text")
						label(data-content="Hello world")
							span.e-label-content Hello World
					.c-input.m-accent
						input(type="text")
						label(data-content="Hello world")
							span.e-label-content Hello World

		app Loading...


		//script(src="http://localhost:35729/livereload.js")
		script(src="/bundle.js")